.memory-router-viewarea
{
    top         : var(--window-control-box-height);
    left        : 0;

    min-width   : 100%;
    min-height  : calc(100% - var(--window-control-box-height));
    
    max-width   : 100%;
    max-height  : calc(100% - var(--window-control-box-height));

    overflow    : hidden;

    position    : absolute;
}